<div class="container">
    <body id="corpo"> 
    
        
        <article>
    
            <h2 class="professores">Professores:</h2> 
        
            <h4 class="professores" id="aptos">Eletrônica:</h4> 
            <p id="descricao"> 
                    Formada em Engenharia da Computação na USP, e pós-graduada em automação na UNIFESP, a professora 
                Joana Costa já está conosco há 3 anos e sempre está disposta a ensinar e apoiar os projetos
                de seus alunos.
            </p> 
        


            <h4 class="professores" id="aptos">Elétrica:</h4> 
            <p id="descricao"> 
                    Os professores Caio Coimbra e Vitor Fernandes, são engenheiros elétricos pela USJT e tem muita
                experiência na área industrial e residencial, podendo ensinar aos alunos diversas técnicas e áreas
                de atuação.
            </p> 
         


            <h4 class="professores" id="aptos">Informática:</h4> 
            <p id="descricao"> 
                    Os professores Pedro Silva e Carlos Campos, são formados em Engenharia da Computação pela Mauá 
                    e sempre estão empenhados em levar seus alunos a um alto patamar de conhencimento.
                
            </p> 
        


            <h4 class="professores" id="aptos">Programação:</h4> 
            <p id="descricao"> 
                Formadas em Ciência da Computação pela UNESP, as professoras Angélica Ramos, responsável pela 
                linguagem JAVA, Maria Santos, responsável pelas aulas de PHP e Giovanna Nascimento ensinando PHYTON,
                nosso time de programção é completo e com alto aprendizado.
            </p> 
        


            <h4 class="professores" id="aptos">Inglês:</h4> 
            <p id="descricao"> 
                Come on guys. Os professores Diego Ferreira e a professora Giulia Oliveira são formados em letras
                são fluentes em inglês e com um método diferenciado, garantem fluência em apenas 18 meses.

            </p> 
        


        </article>

        <footer id="rodape"> 

            Todos os direitos reservados 2019-2020. Entre em contado através do nosso 
            email: html.escola@edu.com.br ou pelo nosso telefone(11)5555-8888 
            
            </footer> 
        
        
        </body> 
    </div>